In [2]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 150

In [20]:
other_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.other.csv')
officer_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.officer.csv',
                          usecols = ['node_id', 'sourceID', 'name', 'countries', 'country_codes'])
entity_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.entity.csv',
                          usecols = ['node_id', 'sourceID', 'name', 'countries', 'country_codes'])
intermediary_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.intermediary.csv',
                          usecols = ['node_id', 'sourceID', 'name', 'countries', 'country_codes'])

C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
other_raw.head()

,node_id,name,country_codes,countries,sourceID,valid_until,note
0,85004929,ANTAM ENTERPRISES N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current through 2016,Closed date stands for Cancelled date.
1,85008443,DEVIATION N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current through 2016,NaN
2,85008517,ARIAZI N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current through 2016,Closed date stands for Cancelled date.
3,85008542,FLAIRUBA N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current through 2016,NaN
4,85008583,S.L. ARUBA FISHERIES TRADING N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry,Aruba corporate registry data is current through 2016,Closed date stands for Cancelled date.

In [21]:
other_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2919 entries, 0 to 2918
Data columns (total 7 columns):
node_id          2919 non-null int64
name             2919 non-null object
country_codes    386 non-null object
countries        386 non-null object
sourceID         2919 non-null object
valid_until      2919 non-null object
note             117 non-null object
dtypes: int64(1), object(6)
memory usage: 159.7+ KB

In [22]:
len(set(other_raw['node_id']).intersection(set(officer_raw['node_id'])))

0

In [23]:
len(set(other_raw['node_id']).intersection(set(entity_raw['node_id'])))

0

In [24]:
len(set(other_raw['node_id']).intersection(set(intermediary_raw['node_id'])))

0

In [25]:
print(officer_raw.info())
print(entity_raw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350008 entries, 0 to 350007
Data columns (total 5 columns):
node_id          350008 non-null int64
name             350007 non-null object
country_codes    171627 non-null object
countries        171610 non-null object
sourceID         350008 non-null object
dtypes: int64(1), object(4)
memory usage: 13.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290086 entries, 0 to 290085
Data columns (total 5 columns):
node_id          290086 non-null int64
name             290061 non-null object
country_codes    169745 non-null object
countries        169745 non-null object
sourceID         290086 non-null object
dtypes: int64(1), object(4)
memory usage: 11.1+ MB
None

In [26]:
len(set(officer_raw['node_id']).intersection(set(entity_raw['node_id'])))

0

In [27]:
len(set(intermediary_raw['node_id']).intersection(set(entity_raw['node_id'])))

0

In [28]:
len(set(intermediary_raw['node_id']).intersection(set(officer_raw['node_id'])))

0

## No duplicate node_ids between 'other' entities and either the officers, entities, or intermediaries. Also no duplicates between the intermediaries and the officers or entities.

### However, this doesn't mean that there aren't duplicates, they may just have different node_ids. Will need to explore whether there are duplicates based on 'name'

In [29]:
other_raw.columns

Index(['node_id', 'name', 'country_codes', 'countries', 'sourceID',
       'valid_until', 'note'],
      dtype='object')

In [ ]:
keep_cos = ['node_id', 'sourceID', 'name', 'country_codes', 'countries']
dtypes = {'node_id':'int32', 'sourceID':'category', 'name':'object', 'country_codes':'category', 'countries':'category'}

other_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.other.csv',
                       usecols=keep_cols,
                       dtype=dtypes)