In [1]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 150

In [13]:
def clean_countries_and_codes(df):
    df['clean_co_codes'] = df.loc[df['country_codes'].notnull(), 'country_codes'].str.replace(';XXX|XXX;', '')
    df['clean_co_codes'] = df.loc[df['clean_co_codes'].notnull(), 'clean_co_codes'].replace('XXX', np.nan)
    df['clean_co_codes'] = df.loc[df['clean_co_codes'].notnull(), 'clean_co_codes'].str.split(';').apply(lambda x: sorted(x))
    df['clean_co_codes'] = df.loc[df['clean_co_codes'].notnull(), 'clean_co_codes'].apply(', '.join)
    
    df['clean_countries'] = df.loc[df['countries'].notnull(), 'countries'].str.replace(';Not identified|Not identified;', '')
    df['clean_countries'] = df.loc[df['clean_countries'].notnull(), 'clean_countries'].replace('Not identified', np.nan)
    df['clean_countries'] = df.loc[df['clean_countries'].notnull(), 'clean_countries'].str.split(';').apply(lambda x: sorted(x))
    df['clean_countries'] = df.loc[df['clean_countries'].notnull(), 'clean_countries'].apply(' ,'.join)
    
    df.drop(columns=['country_codes', 'countries'], inplace=True)
    df.rename(columns={'clean_co_codes':'country_codes', 'clean_countries':'countries'}, inplace=True)

In [4]:
keep_cols = ['node_id', 'sourceID', 'address', 'name', 'country_codes', 'countries']
dtypes = {'node_id': 'int32', 'sourceID':'category', 'address': 'object', 'name':'object',
          'country_codes':'category', 'countries':'category'}

bahamas_address_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.address.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
bahamas_address_raw = bahamas_address_raw[keep_cols]

offshore_address_raw = pd.read_csv('../data/raw/offshore_leaks/offshore_leaks.nodes.address.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
offshore_address_raw = offshore_address_raw[keep_cols]

panama_address_raw = pd.read_csv('../data/raw/panama_papers/panama_papers.nodes.address.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
panama_address_raw = panama_address_raw[keep_cols]

paradise_address_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.address.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
paradise_address_raw = paradise_address_raw[keep_cols]

### To Do

- Paradise papers: address was accidentally put into the 'name' column instead of the 'address' column. Will need to rename this column.
  + However, Line 1 of the address is mostly in the 'address' column. Which could make reformatting that dataset easier.
- Remove all rows where the 'address' column is empty (there's only one each in Panama and Paradise (once 'name' column correctly addressed)
- Clean the address text. This will require rather inventive text wrangling. Each investigation uses a different address format. Not all have the City. There are invalid characters in some of the entries.
- Preferred address format (in different columns)
  + Line 1
  + City
  + State
  + Zip/postal code
  + Country
  + If you standardize and validate, also grab the lat/long

In [13]:
bahamas_address_raw.head(25)

# May be able to just split on ','

,node_id,sourceID,address,name,country_codes,countries
0,24000001,Bahamas Leaks,"ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805, NASSAU, BAHAMAS",NaN,BHS,Bahamas
1,24000002,Bahamas Leaks,"SUITE E-2,UNION COURT BUILDING, P.O. BOX N-8188, NASSAU, BAHAMAS",NaN,BHS,Bahamas
2,24000003,Bahamas Leaks,"LYFORD CAY HOUSE, LYFORD CAY, P.O. BOX N-7785, NASSAU, BAHAMAS",NaN,BHS,Bahamas
3,24000004,Bahamas Leaks,"P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O. BOX N-3708 SHIRLEY & CHARLOTTE STS, NASSAU, BAHAMAS",NaN,BHS,Bahamas
4,24000005,Bahamas Leaks,"LYFORD CAY HOUSE, 3RD FLOOR, LYFORD CAY, P.O. BOX N-3024, NASSAU, BAHAMAS",NaN,BHS,Bahamas
5,24000006,Bahamas Leaks,"303 SHIRLEY STREET, P.O. BOX N-492, NASSAU, BAHAMAS",NaN,BHS,Bahamas
6,24000007,Bahamas Leaks,"OCEAN CENTRE, MONTAGU FORESHORE, P.O. BOX SS-19084 EAST BAY STREET, NASSAU, BAHAMAS",NaN,BHS,Bahamas
7,24000008,Bahamas Leaks,"PROVIDENCE HOUSE, EAST WING EAST HILL ST, P.O. BOX CB-12399, NASSAU, BAHAMAS",NaN,BHS,Bahamas
8,24000009,Bahamas Leaks,"BAYSIDE EXECUTIVE PARK, WEST BAY & BLAKE, P.O. BOX N-4875, NASSAU, BAHAMAS",NaN,BHS,Bahamas
9,24000010,Bahamas Leaks,"GROUND FLOOR, GOODMAN'S BAY CORPORATE CE, P.O. BOX N 3933, NASSAU, BAHAMAS",NaN,BHS,Bahamas
10,24000011,Bahamas Leaks,"TK HOUSE, BAYSIDE EXECUTIVE PARK, P.O. BOX AP-59213 WEST BAY & BLAKE ROAD, NASSAU, BAHAMAS",NaN,BHS,Bahamas
11,24000012,Bahamas Leaks,"BAYSIDE HOUSE WEST BAY & BLAKE ROAD, P.O. BOX AP-59213, NASSAU, BAHAMAS",NaN,BHS,Bahamas
12,24000013,Bahamas Leaks,"#308 EAST BAY ST. 4TH FLOOR, P.O. BOX N-7768, NASSAU, BAHAMAS",NaN,BHS,Bahamas
13,24000014,Bahamas Leaks,"THE RIGARNO BUILDING BAY & VICTORIA AVE., P.O. BOX N-4755, NASSAU, BAHAMAS",NaN,BHS,Bahamas
14,24000015,Bahamas Leaks,"#1 MILLARS COURT, P.O. BOX N-7117, NASSAU, BAHAMAS",NaN,BHS,Bahamas
15,24000016,Bahamas Leaks,"MAREVA HOUSE 4 GEORGE STREET, P.O. BOX N-3937, NASSAU, BAHAMAS",NaN,BHS,Bahamas
16,24000017,Bahamas Leaks,"SASSOON HOUSE SHIRLEY ST. & VICTORIA AVE, P.O. BOX SS-5383, NASSAU, BAHAMAS",NaN,BHS,Bahamas
17,24000018,Bahamas Leaks,"WINTERBOTHAM PLACE MARLBOROUGH & QUEEN, P.O. BOX N-10429, NASSAU, BAHAMAS",NaN,BHS,Bahamas
18,24000019,Bahamas Leaks,"P.O. BOX N-3242, 3RD FLOOR, MONTAGUE STERLING CENTRE, EAST BAY STREET",NaN,BHS,Bahamas
19,24000020,Bahamas Leaks,"P.O. BOX N-9100, NASSAU, BAHAMAS",NaN,BHS,Bahamas
20,24000021,Bahamas Leaks,"ROBINSON ROAD, P.O. BOX CB 13050, NASSAU, BAHAMAS",NaN,BHS,Bahamas
21,24000022,Bahamas Leaks,"3RD FLOOR, ONE MONTAGUE PLACE, EAST BAY ST. P.O. BOX N3231, NASSAU, BAHAMAS",NaN,BHS,Bahamas
22,24000023,Bahamas Leaks,"BAHAMAS FINANCIAL CENTRE, P.O. BOX N-3023, NASSAU, BAHAMAS",NaN,BHS,Bahamas
23,24000024,Bahamas Leaks,"P.O. BOX N 529, NASSAU, BAHAMAS",NaN,BHS,Bahamas
24,24000025,Bahamas Leaks,"WINTERBOTHAM PLACE, MARLBOROUGH & QUEEN, P.O. BOX SS-19195, NASSAU, BAHAMAS",NaN,BHS,Bahamas

In [14]:
bahamas_address_raw.tail(25)

,node_id,sourceID,address,name,country_codes,countries
526,24000527,Bahamas Leaks,"SUITE 2, GROSVENOR CLOSE, SHIRLEY STREET & GROSVENOR CLOSE P.O. BOX CB-11287, NASSAU, BAHAMAS",NaN,BHS,Bahamas
527,24000528,Bahamas Leaks,"INTERNATIONAL HOUSE #1 VIRGINIA STREET, P.O. BOX N-4913, NASSAU, BAHAMAS",NaN,BHS,Bahamas
528,28000001,Bahamas Leaks,"Van Bronckhoestlaan, 20 Wassenaar, 2242 PZ, Netherlands, The",NaN,NLD,Netherlands
529,28000002,Bahamas Leaks,"Alameda Urquijo, N°8, 1 Izq. 48008 Bilbao, Bizkaia, Spain",NaN,ESP,Spain
530,28000003,Bahamas Leaks,"Linhartova 19, 61000 Ljubljana, Slovenia",NaN,SVN,Slovenia
531,28000004,Bahamas Leaks,"Calle Mahonia, no. 2, Edificio Portico, Planta 5th, Avenida de los Andes, Campo de las Naciones, Madrid, Spain",NaN,ESP,Spain
532,28000005,Bahamas Leaks,"Manzana de Obarrio, 20- Obarrio, Panamá, Rep de Panamá",NaN,PAN,Panama
533,28000006,Bahamas Leaks,"TAMARIT, 134, BAJOS 08015, Barcelona España",NaN,ESP,Spain
534,28000007,Bahamas Leaks,"Building #33, Akram Zeiter Street, Abdoun, Amman, 11814, P.O. Box 140825, Jordan",NaN,JOR,Jordan
535,28000008,Bahamas Leaks,"Estacion Maritima, S/N, Denia-03700, Spain",NaN,ESP,Spain
536,28000009,Bahamas Leaks,"1188 Budapest, Erdosav U. 59., Hungary",NaN,HUN,Hungary
537,28000010,Bahamas Leaks,"House Shoreline Islands at Old Fort Bay, Nassau, Bahamas",NaN,BHS,Bahamas
538,28000011,Bahamas Leaks,"14 Kolokotroni Str. Aghia Paraskevi Athens, 15342 Greece",NaN,GRC,Greece
539,28000012,Bahamas Leaks,"San Prudencio 29, 20808 Getaria, Guipuzcoa, Spain",NaN,ESP,Spain
540,28000013,Bahamas Leaks,"C/O Centro San Ignacio, Torre Copérnico, Of. 701, La Castellana, Caracas 1060, Venezuela",NaN,VEN,Venezuela
541,28000014,Bahamas Leaks,"Corsega 337, 08037, Barcelona, Spain",NaN,ESP,Spain
542,28000015,Bahamas Leaks,"P.O. Box N-4584 Nassau, Bahamas",NaN,BHS,Bahamas
543,28000016,Bahamas Leaks,"20, Chester Terrace, London NW1 4ND England",NaN,GBR,United Kingdom
544,28000017,Bahamas Leaks,"55 East 59th Street, New York, NY",NaN,USA,United States
545,28000018,Bahamas Leaks,"1 Stamataki Street, Agios Ionnais, Athen, Greece",NaN,GRC,Greece
546,28000019,Bahamas Leaks,"14 Kartsivani Street, Paleo Faliro, Greece",NaN,GRC,Greece
547,28000020,Bahamas Leaks,"Calle San Nicolas, 9 - 2 dcha, 28013, Madrid, Spain",NaN,ESP,Spain
548,28000021,Bahamas Leaks,"77th East and 50th Streets, San Francisco, Panama, Republic of Panama",NaN,PAN,Panama
549,28000022,Bahamas Leaks,"185 - 187 Airbau, 08021 Barcelona, Spain",NaN,ESP,Spain
550,28000023,Bahamas Leaks,"Calle General Pardinas 92-1, 28006, Madrid, Spain",NaN,ESP,Spain

In [15]:
bahamas_address_raw['countries'].value_counts()

Bahamas           530
Spain               9
Greece              3
Panama              2
Venezuela           1
United States       1
United Kingdom      1
Slovenia            1
Netherlands         1
Jordan              1
Hungary             1
Name: countries, dtype: int64

In [16]:
bahamas_address_raw[bahamas_address_raw['countries'] == 'Spain']

,node_id,sourceID,address,name,country_codes,countries
529,28000002,Bahamas Leaks,"Alameda Urquijo, N°8, 1 Izq. 48008 Bilbao, Bizkaia, Spain",NaN,ESP,Spain
531,28000004,Bahamas Leaks,"Calle Mahonia, no. 2, Edificio Portico, Planta 5th, Avenida de los Andes, Campo de las Naciones, Madrid, Spain",NaN,ESP,Spain
533,28000006,Bahamas Leaks,"TAMARIT, 134, BAJOS 08015, Barcelona España",NaN,ESP,Spain
535,28000008,Bahamas Leaks,"Estacion Maritima, S/N, Denia-03700, Spain",NaN,ESP,Spain
539,28000012,Bahamas Leaks,"San Prudencio 29, 20808 Getaria, Guipuzcoa, Spain",NaN,ESP,Spain
541,28000014,Bahamas Leaks,"Corsega 337, 08037, Barcelona, Spain",NaN,ESP,Spain
547,28000020,Bahamas Leaks,"Calle San Nicolas, 9 - 2 dcha, 28013, Madrid, Spain",NaN,ESP,Spain
549,28000022,Bahamas Leaks,"185 - 187 Airbau, 08021 Barcelona, Spain",NaN,ESP,Spain
550,28000023,Bahamas Leaks,"Calle General Pardinas 92-1, 28006, Madrid, Spain",NaN,ESP,Spain

In [10]:
offshore_address_raw.head(25)

# Some have punctuation, some don't.
# Might want to try looking at it by country.
# Change it to title case

,node_id,sourceID,address,name,country_codes,countries
0,2004267,Offshore Leaks,One Bearer Secured Debenture,NaN,XXX,Not identified
1,67277,Offshore Leaks,"11 Coomber Road, The Peak, Hong Kong",NaN,HKG,Hong Kong
2,67346,Offshore Leaks,"4 Irish Place 2nd Floor, Gibraltar.",NaN,GIB,Gibraltar
3,67278,Offshore Leaks,"11A, Branksome 3 Tregunter Path Mid-Levels Hong Kong",NaN,HKG,Hong Kong
4,67282,Offshore Leaks,14 Lysander Road West Mailing Kent ME19 4TT,NaN,GBR,United Kingdom
5,67293,Offshore Leaks,"15 Park Rd,Sorrento, Vic 3943, Australia.",NaN,AUS,Australia
6,67294,Offshore Leaks,16-1/F NO. 125 SUNG THE ROAD TAIPEI TAIWAN,NaN,TWN,Taiwan
7,67297,Offshore Leaks,186A Holland Road Toho Mansion Singapore 278583,NaN,SGP,Singapore
8,67298,Offshore Leaks,"2 Kastoros Street, CY-1087 Nicosia, Cyprus.",NaN,CYP,Cyprus
9,67299,Offshore Leaks,200 Sheridan Ave Suite 103 Palo Alto CA,NaN,USA,United States
10,67302,Offshore Leaks,"2241 Johns Circle Arburn, Alabama 36830 USA",NaN,USA,United States
11,67301,Offshore Leaks,22 F THE CENTRE 99 Queens Road Central Hong Kong,NaN,HKG,Hong Kong
12,67352,Offshore Leaks,"540 N. Jackson #201 Glenadale, CA 91206 U.S.A",NaN,USA,United States
13,67400,Offshore Leaks,"Ap. 7, bld. 1, 3, Novospasky per., Moscow, Russia",NaN,RUS,Russia
14,67423,Offshore Leaks,"Apt.92, Minskaya Str, 1G,Bldg1, Moscow Russia",NaN,RUS,Russia
15,67457,Offshore Leaks,"P.O. Box 118-616, Taipei TAIWAN",NaN,TWN,Taiwan
16,67462,Offshore Leaks,"P.O. Box 363, Manly NSW Australia 2095",NaN,AUS,Australia
17,67477,Offshore Leaks,"Villa 18, The Terraces Jumeirah, Dubai, UAE",NaN,ARE,United Arab Emirates
18,67511,Offshore Leaks,1 Balmoral Road #06-06 Singapore 259784,NaN,SGP,Singapore
19,67517,Offshore Leaks,1 Siok Wan Close Singapore 118194,NaN,SGP,Singapore
20,67528,Offshore Leaks,"1/F., 12 Li Kwan Avenue, Tai Hang, Hong Kong",NaN,HKG,Hong Kong
21,67534,Offshore Leaks,10 Rue Verte Newport Beach California 92660 USA,NaN,USA,United States
22,67535,Offshore Leaks,10. 17 Tuas Avenue 3 Singapore 639414,NaN,SGP,Singapore
23,67536,Offshore Leaks,"100 CITIDEL DRIVE SUITE 111 COMMERCE, CA 90040",NaN,USA,United States
24,67430,Offshore Leaks,"Block B1 1/F., 6 Oaklands Path Hong Kong",NaN,HKG,Hong Kong

In [11]:
panama_address_raw.head(25)

# Includes special characters like `/t` and `"`
# Might be able to split some of it on `;`, but not all are formatted that way. Also the zip and country are flipped on some
# Standardize to title case
# Some include the country, some don't

,node_id,sourceID,address,name,country_codes,countries
0,14000001,Panama Papers,-\t27 ROSEWOOD DRIVE #16-19 SINGAPORE 737920,NaN,SGP,Singapore
1,14000002,Panama Papers,"""Almaly Village"" v.5, Almaty Kazakhstan",NaN,KAZ,Kazakhstan
2,14000003,Panama Papers,"""Cantonia"" South Road St Georges Hill Weybridge, Surrey",NaN,GBR,United Kingdom
3,14000004,Panama Papers,"""CAY-OS"" NEW ROAD; ST.SAMPSON; GUERNSEY; CHANNEL ISLANDS",NaN,GGY,Guernsey
4,14000005,Panama Papers,"""Chirag"" Plot No 652; Mwamba Road; Kizingo; Mombasa; 80100; Kenya",NaN,KEN,Kenya
5,14000006,Panama Papers,"""La Diana""; 16 rue Del Respiro; MC 98000 Monaco.",NaN,MCO,Monaco
6,14000007,Panama Papers,"""Les hauts de St Jean""; 17 avenue Perdtemts; Canton de Vaud; CH-1260 Nyon (Suisse)",NaN,CHE,Switzerland
7,14000008,Panama Papers,"""Les Tattes""; Bursinel; Vaud; Switzerland",NaN,CHE,Switzerland
8,14000009,Panama Papers,"""Quai Kennedy"" 1 boulevard Louis II Monaco MC98000",NaN,MCO,Monaco
9,14000010,Panama Papers,"""Sofia House"" 48 Church Street; 1st Floor; Hamilton HM 12; Bermuda",NaN,BMU,Bermuda
10,14000011,Panama Papers,"""Sunchine"" Flat 1; Triq il-Huttaf; Mosta MST 12; Malta",NaN,MLT,Malta
11,14000012,Panama Papers,"""Touchstone""; Ardbraccan; Navan; County Meath; Ireland",NaN,IRL,Ireland
12,14000013,Panama Papers,"""VILLA"" RAMY-MANDROSOA-IV ATO-IVATO FIRAISENA AMBOHI DRATRIMO-ANTANANA RIVO-MADAGASCAR",NaN,MDG,Madagascar
13,14000014,Panama Papers,"""Whingate"" Tower Hill Dummer; Nr Basingstoke; Hants RG25 2AL",NaN,GBR,United Kingdom
14,14000015,Panama Papers,#02-01; 14 MOHAMED SULTAN ROAD; SINGAPORE 238963,NaN,SGP,Singapore
15,14000016,Panama Papers,#04-08 NOVENA SUITES; 200 MOULMEIN ROAD; SINGAPORE 308107,NaN,SGP,Singapore
16,14000017,Panama Papers,#04-263; Block 255; ST21 Pasir Ris; 510255; Singapore,NaN,SGP,Singapore
17,14000018,Panama Papers,#06-03 Montrosa; 132 B Hillview Ave; Singapore 669605,NaN,SGP,Singapore
18,14000019,Panama Papers,#068 Purok 1 Barangay; Salvacion 2nd; Lupao Nueva ECIJA; 3122 Philippines,NaN,PHL,Philippines
19,14000020,Panama Papers,#09; 6615 TELFORD AVE. BURNABY; B.C; V5H 2Z3; CANADA.,NaN,CAN,Canada
20,14000021,Panama Papers,#1; #42MUGUANG ROAD; SANGPO VILLAGE; NANZHUANG TOWN; MENGZHOU; HENAN; P.R. CHINA,NaN,CHN,China
21,14000022,Panama Papers,#1/501; Building 16; 17th East Qinghua Road; Haidian District; Beijing; China,NaN,CHN,China
22,14000023,Panama Papers,#101; 2-3 Okinabashi-cho; Sakai-ku; Sakai City; Osaka 590-0061; Japan,NaN,JPN,Japan
23,14000024,Panama Papers,#102 OF UNIT 2; NO. 2 BUILDING; SOUTH STREET HOSPITAL; XI LUO FENG STREET; NEW CITY DISTRICT HOHHOT; INNER MONGOLIA; CHINA,NaN,CHN,China
24,14000025,Panama Papers,#103; FU XING NANG RD.; XIAO AD TOWN; YAN JIANG CITY; FU ZHOU; CHINA,NaN,CHN,China

In [12]:
paradise_address_raw.head(25)

# Looks like this is the one with the most standardized punctuation. Should be able to split on ';'
# However, country formats are different. Taiwan is sometimes 'Taiwan', sometimes 'People's Republic of China'. Will need to standardize that
# 'address' column only includes the first part of the address. 'name' includes the full address
# The 'name' column sometimes truncates the first line of the address. This seems to be based on a ';' split

,node_id,sourceID,address,name,country_codes,countries
0,81014050,Paradise Papers - Appleby,6B Chenyu Court,6B Chenyu Court; 22-24 Kennedy Road; Hong Kong,HKG,Hong Kong
1,81014052,Paradise Papers - Appleby,15C Suchun Industrial Square,15C Suchun Industrial Square; Suzhou Industrial Park; 215126 Suzhou; People's Republic of China,CHN,China
2,81014055,Paradise Papers - Appleby,"8F., No. 68","8F., No. 68; Minfu 13th St. Taoyuan County; 330; Taiwan",TWN,Taiwan
3,81014056,Paradise Papers - Appleby,"No. 66, Ln. 20","No. 66, Ln. 20; Dafu Rd., Shengang Township; 429 Taichung County; Taiwan",TWN,Taiwan
4,81014057,Paradise Papers - Appleby,"1F., No. 18, Ln. 274","1F., No. 18, Ln. 274; Chang'an St., Luzhou City; Taipei County 247, Taiwan; People's Republic of China",CHN,China
5,81014058,Paradise Papers - Appleby,8 Middle Gap Road,"8 Middle Gap Road; The Peak, Hong Kong; Hong Kong",HKG,Hong Kong
6,81014060,Paradise Papers - Appleby,8 Sing Woo Crescent,8 Sing Woo Crescent; Happy Valley; Hong Kong; People's Republic of China,CHN,China
7,81014062,Paradise Papers - Appleby,Kings Court,"Kings Court; 1st Floor, Bay Street; PO Box N-3944; Nassau; Bahamas",BHS,Bahamas
8,81014067,Paradise Papers - Appleby,No. 60,No. 60; Baihuazhou; Suzhou City; Jiangsu Province; People's Republic of China,CHN,China
9,81014068,Paradise Papers - Appleby,Kanjata Rd.,Kanjata Rd.; Lavington; Nairobi; Kenya,KEN,Kenya
10,81014069,Paradise Papers - Appleby,"51 Stubbs Road, 4th Floor","51 Stubbs Road, 4th Floor; Hong Kong",HKG,Hong Kong
11,81014070,Paradise Papers - Appleby,No. 44 Ping Yeung Village,No. 44 Ping Yeung Village; Ta Ku Ling; Fanling; New Territories; Hong Kong; People's Republic of China,CHN,China
12,81014072,Paradise Papers - Appleby,PO Box 2723,PO Box 2723; Grand Cayman KY1-1111; Cayman Islands,CYM,Cayman Islands
13,81014074,Paradise Papers - Appleby,Suite 102 Warrens Court,Suite 102 Warrens Court; Warrens; St. Michael BB 22026; Barbados,BRB,Barbados
14,81014075,Paradise Papers - Appleby,PO Box 1854 GT,"PO Box 1854 GT; Anderson Square, 5th Floor; Grand Cayman; Cayman Islands",CYM,Cayman Islands
15,81014076,Paradise Papers - Appleby,402 Sukhumvit Soi 63,402 Sukhumvit Soi 63; Klongtun; Klongtoey; Bangkok; Thailand,THA,Thailand
16,81014077,Paradise Papers - Appleby,Flat A,Flat A; 11-F Block 2; South Horizons; Ap Lei Chau; Hong Kong,HKG,Hong Kong
17,81014078,Paradise Papers - Appleby,14208 E. Windstone Trail,14208 E. Windstone Trail; Scottsdale AZ 85262; United States of America,USA,United States
18,81014079,Paradise Papers - Appleby,Room 3101 Natwest Tower,Room 3101 Natwest Tower; Times Square; Causeway Bay; Hong Kong,HKG,Hong Kong
19,81014080,Paradise Papers - Appleby,Flat 5A,Flat 5A; No. 117 Caine Road; Mid Levels; Hong Kong,HKG,Hong Kong
20,81014085,Paradise Papers - Appleby,"TFIT Tower, 4th Floor","TFIT Tower, 4th Floor; 85 Jen-Ai Road, Section 4; Taipei; Taiwan",TWN,Taiwan
21,81014086,Paradise Papers - Appleby,12800 Camino Medio Lane,"12800 Camino Medio Lane; Los Altos Hills, CA 94022; United States of America",USA,United States
22,81014088,Paradise Papers - Appleby,"191, Min Shen Road West","191, Min Shen Road West; Taipei; Taiwan",TWN,Taiwan
23,81014089,Paradise Papers - Appleby,1106-7831 Westminster HWY,1106-7831 Westminster HWY; Richmond BC; Canada,CAN,Canada
24,81014090,Paradise Papers - Appleby,Block 175D,Block 175D; Punggol Field; #04-531; Singapore 824175,SGP,Singapore

In [49]:
paradise_address_raw.rename(columns={'address': 'line1', 'name':'address'}, inplace=True)
paradise_address_raw.rename(columns={'line1':'name'}, inplace=True)
paradise_address_raw = paradise_address_raw[keep_cols]
paradise_address_raw.head()

,node_id,sourceID,address,name,country_codes,countries
0,81014050,Paradise Papers - Appleby,6B Chenyu Court; 22-24 Kennedy Road; Hong Kong,6B Chenyu Court,HKG,Hong Kong
1,81014052,Paradise Papers - Appleby,15C Suchun Industrial Square; Suzhou Industrial Park; 215126 Suzhou; People's Republic of China,15C Suchun Industrial Square,CHN,China
2,81014055,Paradise Papers - Appleby,"8F., No. 68; Minfu 13th St. Taoyuan County; 330; Taiwan","8F., No. 68",TWN,Taiwan
3,81014056,Paradise Papers - Appleby,"No. 66, Ln. 20; Dafu Rd., Shengang Township; 429 Taichung County; Taiwan","No. 66, Ln. 20",TWN,Taiwan
4,81014057,Paradise Papers - Appleby,"1F., No. 18, Ln. 274; Chang'an St., Luzhou City; Taipei County 247, Taiwan; People's Republic of China","1F., No. 18, Ln. 274",CHN,China

In [50]:
address_df = pd.concat([bahamas_address_raw, offshore_address_raw, panama_address_raw, paradise_address_raw])
address_df.head()

,node_id,sourceID,address,name,country_codes,countries
0,24000001,Bahamas Leaks,"ANNEX FREDERICK & SHIRLEY STS, P.O. BOX N-4805, NASSAU, BAHAMAS",NaN,BHS,Bahamas
1,24000002,Bahamas Leaks,"SUITE E-2,UNION COURT BUILDING, P.O. BOX N-8188, NASSAU, BAHAMAS",NaN,BHS,Bahamas
2,24000003,Bahamas Leaks,"LYFORD CAY HOUSE, LYFORD CAY, P.O. BOX N-7785, NASSAU, BAHAMAS",NaN,BHS,Bahamas
3,24000004,Bahamas Leaks,"P.O. BOX N-3708 BAHAMAS FINANCIAL CENTRE, P.O. BOX N-3708 SHIRLEY & CHARLOTTE STS, NASSAU, BAHAMAS",NaN,BHS,Bahamas
4,24000005,Bahamas Leaks,"LYFORD CAY HOUSE, 3RD FLOOR, LYFORD CAY, P.O. BOX N-3024, NASSAU, BAHAMAS",NaN,BHS,Bahamas

In [46]:
address_df.shape

(374955, 6)

In [36]:
print(bahamas_address_raw[bahamas_address_raw['address'].duplicated(keep=False)].sort_values('address').shape)
bahamas_address_raw[bahamas_address_raw['address'].duplicated(keep=False)].sort_values('address')

(2, 6)

,node_id,sourceID,address,name,country_codes,countries
5,24000006,Bahamas Leaks,"303 SHIRLEY STREET, P.O. BOX N-492, NASSAU, BAHAMAS",NaN,BHS,Bahamas
237,24000238,Bahamas Leaks,"303 SHIRLEY STREET, P.O. BOX N-492, NASSAU, BAHAMAS",NaN,BHS,Bahamas

In [53]:
print(offshore_address_raw[offshore_address_raw['address'].str.title().duplicated(keep=False)].sort_values('address').shape)
offshore_address_raw[offshore_address_raw['address'].str.title().duplicated(keep=False)].sort_values('address').head()

(283, 6)

,node_id,sourceID,address,name,country_codes,countries
1352,240446,Offshore Leaks,1 Farrer Drive #02-02 Singapore 259275,NaN,SGP,Singapore
30792,240445,Offshore Leaks,1 Farrer Drive #02-02 Singapore 259275,NaN,SGP,Singapore
16037,178290,Offshore Leaks,1 Taman Serasi #08-07 Singapore 257717,NaN,SGP,Singapore
15517,178289,Offshore Leaks,1 Taman Serasi #08-07 Singapore 257717,NaN,SGP,Singapore
10440,240773,Offshore Leaks,10 Cuscaden Walk #13-04 Singapore 249693,NaN,SGP,Singapore

In [39]:
print(panama_address_raw[panama_address_raw['address'].str.title().duplicated(keep=False)].sort_values('address').shape)
panama_address_raw[panama_address_raw['address'].str.title().duplicated(keep=False)].sort_values('address')

(10, 6)

,node_id,sourceID,address,name,country_codes,countries
20807,14021331,Panama Papers,6 SALAH EL DIN STREET; ZAMALEK; CAIRO; EGYPT,NaN,EGY,Egypt
20808,14021332,Panama Papers,6 salah El Din Street; Zamalek; Cairo; Egypt,NaN,EGY,Egypt
27535,14028059,Panama Papers,ARANGO ORILLAC BLDG.; 2ND FLOOR; 54TH STREET; PANAMA,NaN,PAN,Panama
27534,14028058,Panama Papers,Arango Orillac Bldg.; 2nd Floor; 54th Street; Panama,NaN,PAN,Panama
65080,14065605,Panama Papers,Rincon 531; Piso 7; Oficina 702; Uruguay,NaN,URY,Uruguay
65087,14065612,Panama Papers,Rincon 531; Piso 7; Oficina 702; Uruguay,NaN,URY,Uruguay
77138,14077663,Panama Papers,SECOND FLOOR; FORUM 4; GRENVILLE STREET; ST HELIER; JERSEY; JE2 4UF,NaN,JEY,Jersey
78528,14079053,Panama Papers,SUITE 13; FIRST FLOOR; OLIAJI TRADE CENTRE; FRANCIS RACHEL STREET; VICTORIA; MAHE; SEYCHELLES,NaN,SYC,Seychelles
77142,14077667,Panama Papers,Second Floor; Forum 4; Grenville Street; St Helier; Jersey; JE2 4UF,NaN,JEY,Jersey
78558,14079083,Panama Papers,Suite 13; First Floor; Oliaji Trade Centre; Francis Rachel Street; Victoria; Mahe; Seychelles,NaN,SYC,Seychelles

In [51]:
print(paradise_address_raw[paradise_address_raw['address'].str.title().duplicated(keep=False)].sort_values('address').shape)
paradise_address_raw[paradise_address_raw['address'].str.title().duplicated(keep=False)].sort_values('address').head()

(1029, 6)

,node_id,sourceID,address,name,country_codes,countries
6629,81026137,Paradise Papers - Appleby,"#05-06, Pan Pacific Serviced Suites; 96 Somerset Road; Singapore 238163","#05-06, Pan Pacific Serviced Suites",SGP,Singapore
14915,81036861,Paradise Papers - Appleby,"#05-06, Pan Pacific Serviced Suites; 96 Somerset Road; Singapore 238163","#05-06, Pan Pacific Serviced Suites",SGP,Singapore
51186,81084819,Paradise Papers - Appleby,"#19-01 Ardmore II, Ardmore Park; 259947; Singapore","#19-01 Ardmore II, Ardmore Park",SGP,Singapore
51185,81084818,Paradise Papers - Appleby,"#19-01 Ardmore II, Ardmore Park; 259947; Singapore","#19-01 Ardmore II, Ardmore Park",SGP,Singapore
53975,81002313,Paradise Papers - Appleby,1 Castle Street; Castletown; Isle of Man IM9 1LF,1 Castle Street,IMN,Isle of Man

In [52]:
print(address_df[address_df['address'].str.title().duplicated(keep=False)].sort_values('address').shape)
address_df[address_df['address'].str.title().duplicated(keep=False)].sort_values('address').head()

(1668, 6)

,node_id,sourceID,address,name,country_codes,countries
14915,81036861,Paradise Papers - Appleby,"#05-06, Pan Pacific Serviced Suites; 96 Somerset Road; Singapore 238163","#05-06, Pan Pacific Serviced Suites",SGP,Singapore
6629,81026137,Paradise Papers - Appleby,"#05-06, Pan Pacific Serviced Suites; 96 Somerset Road; Singapore 238163","#05-06, Pan Pacific Serviced Suites",SGP,Singapore
51186,81084819,Paradise Papers - Appleby,"#19-01 Ardmore II, Ardmore Park; 259947; Singapore","#19-01 Ardmore II, Ardmore Park",SGP,Singapore
51185,81084818,Paradise Papers - Appleby,"#19-01 Ardmore II, Ardmore Park; 259947; Singapore","#19-01 Ardmore II, Ardmore Park",SGP,Singapore
77161,33000032,Paradise Papers - Bahamas corporate registry,"#4 EVERGREEN BUSINESS CENTRE CORAL ROAD, FREEPORT, GRAND BAHAMA",NaN,BHS,Bahamas

In [54]:
address_df['countries'].value_counts()

China                                31984
Hong Kong                            27043
United States                        23819
Barbados                             19334
Aruba                                17510
Taiwan                               15326
United Kingdom                       10729
Singapore                             7065
Russia                                5963
British Virgin Islands                5221
Switzerland                           4721
Bermuda                               3913
Jersey                                3909
Indonesia                             3395
Malaysia                              3196
Panama                                3001
Canada                                2980
Cyprus                                2628
United Arab Emirates                  2611
Australia                             2403
Isle of Man                           2368
Cayman Islands                        2273
Bahamas                               2164
Guernsey                              2008
Brazil                                1774
South Africa                          1763
Japan                                 1451
Thailand                              1447
France                                1383
India                                 1207
Israel                                1173
Peru                                  1148
Samoa                                 1040
Luxembourg                             985
Argentina                              945
Uruguay                                937
Seychelles                             927
New Zealand                            913
Colombia                               885
Ireland                                867
Monaco                                 836
Italy                                  829
Mauritius                              815
Liechtenstein                          794
Germany                                781
Spain                                  778
Philippines                            778
Netherlands                            761
Saudi Arabia                           735
Ukraine                                648
Ecuador                                634
Venezuela                              616
Turkey                                 613
Gibraltar                              539
Lebanon                                537
Saint Kitts and Nevis                  531
Greece                                 508
Norway                                 480
South Korea                            460
Belgium                                432
Sweden                                 387
Not identified                         381
Malta                                  367
Guatemala                              339
Macao                                  326
Mexico                                 322
Costa Rica                             320
Jordan                                 319
Egypt                                  314
Belize                                 305
Kazakhstan                             285
Chile                                  269
Czech Republic                         267
Zimbabwe                               243
Kuwait                                 230
Portugal                               229
Dominican Republic                     214
Nigeria                                207
Viet Nam                               205
Iceland                                204
Curaçao                                204
Austria                                193
Kenya                                  179
Pakistan                               172
Hungary                                169
Cook Islands                           161
Latvia                                 158
Haiti                                  152
Poland                                 152
Jamaica                                143
Niue                                   139
Anguilla                               137
Qatar                                  135
Bahrain                                135
Iran                                   132
Netherlands Antilles                   129
Romania                                125
Denmark                                123
Azerbaijan                             123
Trinidad and Tobago                    120
Marshall Islands                       113
Bulgaria                               107
Finland                                102
Turks and Caicos Islands               102
Uzbekistan                              98
Estonia                                 97
Fiji                                    96
El Salvador                             92
Dominica                                92
U.S. Virgin Islands                     88
Belarus                                 87
Saint Lucia                             85
Botswana                                83
Moldova                                 77
Georgia                                 75
Saint Vincent and the Grenadines        67
Brunei                                  66
French Guiana                           65
Liberia                                 61
Vanuatu                                 61
Oman                                    61
Mongolia                                60
Angola                                  59
Sri Lanka                               58
Antigua and Barbuda                     58
Morocco                                 56
Slovenia                                55
Tanzania                                53
Lithuania                               52
Serbia                                  52
Andorra                                 51
Bangladesh                              51
Chad                                    50
Virgin Islands, British                 50
Laos                                    49
Syria                                   45
Libya                                   43
Bolivia                                 41
Ghana                                   40
Central African Republic                39
Cameroon                                39
Croatia                                 38
Paraguay                                38
DR Congo                                38
Zambia                                  36
Malawi                                  33
Cambodia                                32
Armenia                                 32
American Samoa                          32
Slovakia                                31
Myanmar                                 31
Tunisia                                 28
Côte d'Ivoire                           28
Mozambique                              28
Albania                                 27
Gabon                                   27
Puerto Rico                             25
Madagascar                              25
Montenegro                              24
Somalia                                 24
Namibia                                 23
Cuba                                    23
Papua New Guinea                        22
Iraq                                    22
Honduras                                22
Algeria                                 20
Swaziland                               19
French Polynesia                        18
Grenada                                 18
Mali                                    18
Nauru                                   16
Turkmenistan                            16
Nepal                                   14
Congo                                   14
Nicaragua                               14
Maldives                                13
Palestine                               13
Senegal                                 13
Tajikistan                              13
Uganda                                  12
Cape Verde                              12
Yemen                                   12
Tonga                                   11
Suriname                                10
Kyrgyzstan                               9
Sint Maarten (Dutch part)                9
Venezuela, Bolivarian Republic of        8
Guyana                                   8
Benin                                    8
Guinea                                   7
Sudan                                    7
Equatorial Guinea                        7
Sierra Leone                             7
Bosnia and Herzegovina                   6
North Korea                              5
Guam                                     5
Ethiopia                                 5
Gambia                                   4
Martinique                               4
Niger                                    3
Togo                                     3
Rwanda                                   3
Macedonia                                3
Solomon Islands                          3
Djibouti                                 3
San Marino                               2
Lesotho                                  2
Saint Martin (French part)               2
Afghanistan                              1
Virgin Islands, U.S.                     1
Burkina Faso                             1
British Indian Ocean Territory           1
Tuvalu                                   1
Norfolk Island                           1
Korea, Republic of                       1
Northern Mariana Islands                 1
Taiwan, Province of China                1
Kiribati                                 1
Réunion                                  1
Guinea-Bissau                            1
Bhutan                                   1
Name: countries, dtype: int64

In [62]:
address_df['address'].str.lower().str.split(' ')[:5]

# look at ones where the last word when split on ' ' is the same as the 'countries' column

0                                            [annex, frederick, &, shirley, sts,, p.o., box, n-4805,, nassau,, bahamas]
1                                            [suite, e-2,union, court, building,, p.o., box, n-8188,, nassau,, bahamas]
2                                             [lyford, cay, house,, lyford, cay,, p.o., box, n-7785,, nassau,, bahamas]
3    [p.o., box, n-3708, bahamas, financial, centre,, p.o., box, n-3708, shirley, &, charlotte, sts,, nassau,, bahamas]
4                                [lyford, cay, house,, 3rd, floor,, lyford, cay,, p.o., box, n-3024,, nassau,, bahamas]
Name: address, dtype: object

In [64]:
address_df['address'].str.lower().str.split(' ')[-5:]

# look for rows where the end is numbers (ie probably zip/postal codes)

223345                                     [manase,, samoa]
223346              [vailele-uta,, faleata, sisifo,, samoa]
223347             [lotopa,, falelatai, &, samatau,, samoa]
223348                     [sogi,, vaisigano, no.2,, samoa]
223349    [viviena.schaaf,, `,, faasaleleaga, no.3,, samoa]
Name: address, dtype: object