In [1]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 150

In [5]:
keep_cols = ['node_id', 'sourceID', 'name', 'countries', 'country_codes']
dtypes = {'node_id': 'int32', 'sourceID':'category', 'name':'object',
            'countries':'category', 'country_codes':'category'}

bahamas_intermediary_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.nodes.intermediary.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
bahamas_intermediary_raw = bahamas_intermediary_raw[keep_cols]

offshore_intermediary_raw = pd.read_csv('../data/raw/offshore_leaks/offshore_leaks.nodes.intermediary.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
offshore_intermediary_raw = offshore_intermediary_raw[keep_cols]

panama_intermediary_raw = pd.read_csv('../data/raw/panama_papers/panama_papers.nodes.intermediary.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
panama_intermediary_raw = panama_intermediary_raw[keep_cols]

paradise_intermediary_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.intermediary.csv', 
                                 usecols = keep_cols,
                                 dtype=dtypes)
paradise_intermediary_raw = paradise_intermediary_raw[keep_cols]

### To Do

- Standardize the names (Title case)
- There are companies and people in the name field. Do you want to break this into different tables? One with specific people and one with companies?
- Break peope into first and last name?
- Companies are broken out by their branch office. Do you want to make a Corporate column that unites these offices?

In [6]:
intermediary_df = pd.concat([bahamas_intermediary_raw, offshore_intermediary_raw, panama_intermediary_raw, paradise_intermediary_raw])
intermediary_df.head()

,node_id,sourceID,name,countries,country_codes
0,23000001,Bahamas Leaks,Internal User,NaN,NaN
1,23000002,Bahamas Leaks,M & A CORPORATE SERVICES LIMITED,Bahamas,BHS
2,23000003,Bahamas Leaks,BRITANNIA CONSULTING GROUP,Bahamas,BHS
3,23000004,Bahamas Leaks,ABACO FSC LTD.,Bahamas,BHS
4,23000005,Bahamas Leaks,OL PRIVATE CORPORATE COUNSEL LTD.,Bahamas,BHS

In [18]:
intermediary_df['sourceID'].value_counts()

Panama Papers                                    14110
Offshore Leaks                                    9526
Paradise Papers - Barbados corporate registry      974
Bahamas Leaks                                      541
Paradise Papers - Bahamas corporate registry       239
Paradise Papers - Appleby                          185
Paradise Papers - Nevis corporate registry          96
Paradise Papers - Aruba corporate registry          74
Name: sourceID, dtype: int64

In [12]:
print(intermediary_df[intermediary_df['name'].duplicated(keep=False)].sort_values('name').shape, '\n')
print(intermediary_df[intermediary_df['name'].duplicated(keep=False)].sort_values('name').nunique(), '\n')
intermediary_df[intermediary_df['name'].duplicated(keep=False)].sort_values('name').head()

(1706, 5)

node_id          1706
sourceID            7
name              583
countries          61
country_codes      61
dtype: int64

,node_id,sourceID,name,countries,country_codes
1402,135063428,Paradise Papers - Barbados corporate registry,(BARBADOS) INC. SG GLOBAL CONSULTING,NaN,NaN
1254,135126973,Paradise Papers - Barbados corporate registry,(BARBADOS) INC. SG GLOBAL CONSULTING,NaN,NaN
607,135020603,Paradise Papers - Barbados corporate registry,(BARBADOS) INC. SG GLOBAL CONSULTING,NaN,NaN
1164,135075791,Paradise Papers - Barbados corporate registry,(BARBADOS) LTD. AMICORP,NaN,NaN
971,135116404,Paradise Papers - Barbados corporate registry,(BARBADOS) LTD. AMICORP,NaN,NaN

In [14]:
print(intermediary_df[intermediary_df['name'].str.title().duplicated(keep=False)].sort_values('name').shape, '\n')
print(intermediary_df[intermediary_df['name'].str.title().duplicated(keep=False)].sort_values('name').nunique(), '\n')
intermediary_df[intermediary_df['name'].str.title().duplicated(keep=False)].sort_values('name').tail()

(2193, 5)

node_id          2193
sourceID            8
name             1070
countries          69
country_codes      69
dtype: int64

,node_id,sourceID,name,countries,country_codes
9121,297421,Offshore Leaks,YenBle Management Limited,Taiwan,TWN
9134,297440,Offshore Leaks,Yew Su-Sun,Hong Kong,HKG
9135,297441,Offshore Leaks,Yew Su-Sun,Hong Kong,HKG
3567,11003568,Panama Papers,ZETLAND CORPORATE SERVICES LIMITED,Hong Kong,HKG
2990,291134,Offshore Leaks,Zetland Corporate Services Limited,Hong Kong,HKG

In [15]:
for col in ['countries', 'country_codes']:
    print(col)
    print(intermediary_df[col].value_counts(), '\n')
    
# countries = Not Identified. There are some in lists. You'll need to get rid of those too
# country_codes = XXX. There are some in lists. You'll need to get rid of those too

countries
Hong Kong                                              4895
United Kingdom                                         1545
United States                                          1510
Taiwan                                                 1323
Switzerland                                            1321
Singapore                                              1307
Bahamas                                                 897
China                                                   646
Panama                                                  559
Indonesia                                               522
Guatemala                                               441
Luxembourg                                              403
Brazil                                                  402
Not identified                                          394
Thailand                                                358
Malaysia                                                350
Ecuador                                                 323
Jersey;United Kingdom                                   310
Uruguay                                                 296
Canada                                                  236
Guernsey;United Kingdom                                 236
Isle of Man                                             230
Colombia                                                227
Spain                                                   203
Australia                                               201
Venezuela                                               182
United Arab Emirates                                    179
Cyprus                                                  176
Monaco                                                  170
Israel                                                  146
Russia                                                  137
France                                                  124
Liechtenstein                                           123
Costa Rica                                              121
Saint Kitts and Nevis                                   102
Germany                                                  93
British Virgin Islands                                   90
Argentina                                                89
New Zealand                                              85
Mauritius                                                81
Gibraltar                                                80
Philippines                                              76
Greece                                                   74
South Africa                                             74
Cayman Islands                                           67
Chile                                                    67
Dominican Republic                                       64
Barbados                                                 62
Netherlands                                              61
Italy                                                    54
Ireland                                                  53
Belgium                                                  51
Malta                                                    48
Japan                                                    46
Lebanon                                                  43
Bermuda                                                  41
India                                                    41
Portugal                                                 40
Saudi Arabia                                             37
South Korea                                              35
Sweden                                                   34
Mexico                                                   34
El Salvador                                              30
Jersey                                                   29
Cook Islands                                             28
Viet Nam                                                 23
Austria                                                  23
Kuwait                                                   23
Andorra                                                  22
Peru                                                     22
Turkey                                                   21
Guernsey                                                 20
Ukraine                                                  20
Bolivia                                                  19
Seychelles                                               19
Egypt                                                    19
Latvia                                                   17
Norway                                                   17
Czech Republic                                           16
Hungary                                                  16
Finland                                                  14
Poland                                                   14
Jordan                                                   13
Bahrain                                                  12
Kenya                                                    12
Macao                                                    12
Panama;United States                                     12
Turks and Caicos Islands                                 11
Estonia                                                  10
Honduras                                                 10
Nicaragua                                                10
Denmark                                                  10
Belize                                                   10
Paraguay                                                  9
Brunei                                                    9
Samoa                                                     8
Bulgaria                                                  8
U.S. Virgin Islands                                       8
Nigeria                                                   8
Vanuatu                                                   8
Iceland                                                   7
Kazakhstan                                                7
Qatar                                                     7
Cuba                                                      7
Antigua and Barbuda                                       7
Fiji                                                      7
Slovenia                                                  6
Zimbabwe                                                  6
Romania                                                   6
Sri Lanka                                                 6
Hong Kong;China                                           6
Pakistan                                                  5
Ghana                                                     5
Curaçao                                                   5
Aruba                                                     5
Syria                                                     5
Panama;Mexico                                             4
Trinidad and Tobago                                       4
French Polynesia                                          4
Macao;China                                               4
United States;Panama                                      4
United States;Venezuela                                   4
Croatia                                                   4
Belarus                                                   4
Singapore;Hong Kong                                       3
Mozambique                                                3
Tunisia                                                   3
Panama;Spain                                              3
Bangladesh                                                3
Panama;Brazil                                             3
Niue                                                      3
Saint Lucia                                               3
Singapore;Not identified                                  3
China;Hong Kong                                           3
Switzerland;United Kingdom                                3
United States;Colombia                                    3
Panama;Switzerland                                        3
Morocco                                                   2
Not identified;United States                              2
Papua New Guinea                                          2
Malawi                                                    2
Zambia                                                    2
Lithuania                                                 2
Not identified;Singapore                                  2
Not identified;Indonesia                                  2
United Kingdom;Monaco                                     2
Botswana                                                  2
Not identified;Malaysia                                   2
Switzerland;Monaco                                        2
Panama;Guatemala                                          2
United States;Not identified                              2
United States;Argentina                                   2
Thailand;Hong Kong                                        2
United Kingdom;Luxembourg                                 2
Panama;Canada                                             2
Oman                                                      2
Panama;Germany                                            2
Tanzania                                                  2
Cyprus;Luxembourg                                         2
Puerto Rico                                               2
Moldova                                                   2
Indonesia;Not identified                                  2
Grenada                                                   2
Georgia                                                   2
Macedonia                                                 2
Montenegro;Serbia                                         2
Not identified;Australia                                  1
Costa Rica;Canada                                         1
Egypt;Greece                                              1
Greece;United Kingdom                                     1
Côte d'Ivoire;Bolivia                                     1
United States;Dominican Republic                          1
Switzerland;Germany                                       1
United Kingdom;United Arab Emirates                       1
United States;Indonesia                                   1
Argentina;Bahamas                                         1
Tanzania;Mauritius                                        1
Saint Vincent and the Grenadines;Hungary                  1
Mexico;Puerto Rico                                        1
Switzerland;Luxembourg                                    1
Peru;Spain                                                1
Russia;Canada                                             1
Ecuador;Bahamas                                           1
Singapore;Cayman Islands                                  1
New Zealand;Niue                                          1
Japan;Hong Kong                                           1
Anguilla                                                  1
Djibouti                                                  1
Italy;Switzerland                                         1
United States;South Korea                                 1
United States;United Kingdom                              1
Myanmar                                                   1
Belize;Luxembourg                                         1
Panama;United Kingdom                                     1
Slovakia                                                  1
Spain;Uruguay                                             1
Saint Kitts and Nevis;United Kingdom                      1
Gibraltar;Spain                                           1
Singapore;Malaysia                                        1
Isle of Man;United Kingdom                                1
Senegal;Canada                                            1
Not identified;India                                      1
France;Monaco                                             1
Saint Vincent and the Grenadines                          1
Jersey;Cyprus                                             1
Côte d'Ivoire                                             1
Nepal                                                     1
United States;Poland                                      1
Uruguay;Venezuela                                         1
Colombia;United States                                    1
India;Switzerland                                         1
Not identified;Sri Lanka                                  1
Colombia;El Salvador                                      1
United Arab Emirates;Cyprus                               1
United States;France                                      1
Singapore;United Arab Emirates                            1
Lesotho                                                   1
Cyprus;Latvia                                             1
United Kingdom;Thailand                                   1
United Kingdom;Italy                                      1
Kenya;New Zealand                                         1
Libya                                                     1
British Virgin Islands;United States                      1
Israel;Peru                                               1
Jersey;Switzerland                                        1
Jersey;Panama                                             1
Cyprus;Greece                                             1
Not identified;Canada                                     1
Switzerland;Spain                                         1
British Virgin Islands;New Zealand                        1
Laos                                                      1
Panama;Costa Rica                                         1
Singapore;Philippines                                     1
Not identified;Ireland                                    1
Liberia                                                   1
United States;Costa Rica                                  1
Netherlands;Luxembourg                                    1
Sudan                                                     1
Bahamas;China                                             1
Seychelles;Czech Republic                                 1
Cook Islands;Not identified                               1
Mauritius;United Kingdom                                  1
Singapore;Indonesia                                       1
United Kingdom;Argentina                                  1
Honduras;Guatemala                                        1
Samoa;Indonesia                                           1
Maldives                                                  1
Colombia;Ecuador                                          1
Malaysia;Not identified                                   1
Antigua and Barbuda;Philippines                           1
Cyprus;Poland                                             1
Northern Mariana Islands                                  1
Switzerland;Bahamas                                       1
Monaco;Brazil                                             1
Switzerland;France                                        1
United States;Saudi Arabia                                1
Jersey;Isle of Man                                        1
Taiwan;Hong Kong                                          1
United Kingdom;Spain                                      1
Angola                                                    1
Azerbaijan                                                1
Iran                                                      1
Belgium;Netherlands                                       1
Kuwait;Jordan                                             1
Sint Maarten (Dutch part);Netherlands                     1
United States;Monaco                                      1
Luxembourg;Monaco                                         1
Serbia                                                    1
Panama;Dominican Republic                                 1
Dominica;Dominican Republic                               1
Switzerland;Isle of Man                                   1
Uganda                                                    1
Belgium;Canada                                            1
Panama;Uruguay                                            1
Singapore;United Kingdom                                  1
Switzerland;Israel                                        1
Panama;Venezuela                                          1
Uruguay;Argentina                                         1
Norfolk Island                                            1
Thailand;British Virgin Islands;Indonesia;Singapore       1
Malta;United Kingdom                                      1
Switzerland;Poland                                        1
Costa Rica;Panama                                         1
Russia;Not identified                                     1
Russia;Belgium                                            1
Name: countries, dtype: int64

country_codes
HKG                4895
GBR                1545
USA                1510
TWN                1323
CHE                1321
SGP                1307
BHS                 897
CHN                 646
PAN                 559
IDN                 522
GTM                 441
LUX                 403
BRA                 402
XXX                 394
THA                 358
MYS                 350
ECU                 323
JEY;GBR             310
URY                 296
GGY;GBR             236
CAN                 236
IMN                 230
COL                 227
ESP                 203
AUS                 201
VEN                 182
ARE                 179
CYP                 176
MCO                 170
ISR                 146
RUS                 137
FRA                 124
LIE                 123
CRI                 121
KNA                 102
DEU                  93
VGB                  90
ARG                  89
NZL                  85
MUS                  81
GIB                  80
PHL                  76
ZAF                  74
GRC                  74
CYM                  67
CHL                  67
DOM                  64
BRB                  62
NLD                  61
ITA                  54
IRL                  53
BEL                  51
MLT                  48
JPN                  46
LBN                  43
IND                  41
BMU                  41
PRT                  40
SAU                  37
KOR                  35
MEX                  34
SWE                  34
SLV                  30
JEY                  29
COK                  28
KWT                  23
AUT                  23
VNM                  23
PER                  22
AND                  22
TUR                  21
GGY                  20
UKR                  20
BOL                  19
SYC                  19
EGY                  19
LVA                  17
NOR                  17
CZE                  16
HUN                  16
FIN                  14
POL                  14
JOR                  13
KEN                  12
BHR                  12
MAC                  12
PAN;USA              12
TCA                  11
NIC                  10
HND                  10
DNK                  10
BLZ                  10
EST                  10
BRN                   9
PRY                   9
VUT                   8
VIR                   8
WSM                   8
NGA                   8
BGR                   8
KAZ                   7
ISL                   7
QAT                   7
CUB                   7
FJI                   7
ATG                   7
SVN                   6
ROU                   6
LKA                   6
HKG;CHN               6
ZWE                   6
PAK                   5
CUW                   5
ABW                   5
SYR                   5
GHA                   5
TTO                   4
BLR                   4

In [17]:
intermediary_df['name'] = intermediary_df['name'].str.title()
intermediary_df.head()

,node_id,sourceID,name,countries,country_codes
0,23000001,Bahamas Leaks,Internal User,NaN,NaN
1,23000002,Bahamas Leaks,M & A Corporate Services Limited,Bahamas,BHS
2,23000003,Bahamas Leaks,Britannia Consulting Group,Bahamas,BHS
3,23000004,Bahamas Leaks,Abaco Fsc Ltd.,Bahamas,BHS
4,23000005,Bahamas Leaks,Ol Private Corporate Counsel Ltd.,Bahamas,BHS

In [ ]:
intermediary_df.to_csv('../data/intermediate/intermediary.csv')