In [1]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 150

In [2]:
keep_cols = ['node_id', 'sourceID', 'name', 'country_codes', 'countries']
dtypes = {'node_id':'int32', 'sourceID':'category', 'name':'object', 'country_codes':'category', 'countries':'category'}

other_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.nodes.other.csv',
                       usecols=keep_cols,
                       dtype=dtypes)

## To Do

- Title Case names and look for duplicates
- Remove any rows with empty 'name' column - Can't do this until you address whether those node_ids are in 'edges'

In [4]:
other_raw.head()

,node_id,name,country_codes,countries,sourceID
0,85004929,ANTAM ENTERPRISES N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
1,85008443,DEVIATION N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
2,85008517,ARIAZI N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
3,85008542,FLAIRUBA N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
4,85008583,S.L. ARUBA FISHERIES TRADING N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry

In [5]:
other_raw['sourceID'].value_counts()

Paradise Papers - Appleby                     2031
Paradise Papers - Aruba corporate registry     888
Name: sourceID, dtype: int64

In [6]:
other_raw['countries'].value_counts()

# No unidentified entry.
# Just need to separate multiple values into lists

Isle of Man                                  105
Cayman Islands                                79
United Kingdom                                26
United States                                 24
Ireland                                       14
China                                         13
Jersey                                        12
Bermuda                                       10
British Virgin Islands;Isle of Man             9
British Virgin Islands                         7
Mauritius                                      7
Guernsey                                       5
Switzerland                                    5
Isle of Man;United Kingdom                     5
Hong Kong                                      4
Canada                                         4
India                                          3
Greece                                         3
Monaco                                         3
Israel                                         2
Germany                                        2
Australia                                      2
Mexico                                         2
Germany;Netherlands                            1
Bermuda;Germany;Switzerland;United States      1
Bahamas                                        1
Bahamas;United Kingdom                         1
Bahrain                                        1
Barbados                                       1
French Guiana                                  1
France                                         1
China;Hong Kong                                1
Egypt                                          1
Bermuda;Isle of Man                            1
Dominican Republic;Mexico;Spain                1
Cyprus                                         1
Canada;Colombia                                1
Canada;United Kingdom                          1
Ireland;Isle of Man                            1
Germany;Switzerland                            1
Gibraltar                                      1
United Arab Emirates                           1
Turkey;United States                           1
Turkey                                         1
South Africa;United Kingdom                    1
South Africa                                   1
Saudi Arabia                                   1
Russia                                         1
Qatar                                          1
Peru                                           1
Pakistan;United Arab Emirates                  1
Nigeria;United States                          1
Malta;United Kingdom                           1
Lebanon                                        1
Latvia                                         1
Kenya                                          1
Jersey;United Kingdom                          1
Japan                                          1
Jamaica                                        1
Isle of Man;Switzerland                        1
Isle of Man;Panama                             1
United Kingdom;United States                   1
Argentina;Bahamas                              1
Name: countries, dtype: int64

In [7]:
other_raw['country_codes'].value_counts()

# No unidentified entry.
# Just need to separate multiple values into lists

IMN                105
CYM                 79
GBR                 26
USA                 24
IRL                 14
CHN                 13
JEY                 12
BMU                 10
VGB;IMN              9
MUS                  7
VGB                  7
IMN;GBR              5
GGY                  5
CHE                  5
CAN                  4
HKG                  4
GRC                  3
IND                  3
MCO                  3
MEX                  2
ISR                  2
DEU                  2
AUS                  2
DOM;MEX;ESP          1
CYP                  1
DEU;NLD              1
DEU;CHE              1
EGY                  1
BMU;DEU;CHE;USA      1
ARG;BHS              1
BMU;IMN              1
CHN;HKG              1
BHR                  1
BHS                  1
FRA                  1
CAN;COL              1
BRB                  1
BHS;GBR              1
CAN;GBR              1
ZAF;GBR              1
GBR;USA              1
LVA                  1
TUR;USA              1
TUR                  1
SAU                  1
RUS                  1
QAT                  1
PER                  1
PAK;ARE              1
NGA;USA              1
MLT;GBR              1
LBN                  1
GIB                  1
KEN                  1
JPN                  1
JEY;GBR              1
JAM                  1
IRL;IMN              1
IMN;PAN              1
IMN;CHE              1
ZAF                  1
GUF                  1
ARE                  1
Name: country_codes, dtype: int64

In [10]:
other_raw[other_raw['name'].str.title().duplicated(keep=False)].sort_values('name')

,node_id,name,country_codes,countries,sourceID
0,85004929,ANTAM ENTERPRISES N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
2829,85044682,ANTAM ENTERPRISES N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
2240,85008290,CLASSIQUE DE L'ISLE N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
2475,85026405,CLASSIQUE DE L'ISLE N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
2159,85002793,FOX TRADING N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
2619,85033842,FOX TRADING N.V.,NaN,NaN,Paradise Papers - Aruba corporate registry
752,80037150,Mackie Group,NaN,NaN,Paradise Papers - Appleby
1649,80096898,Mackie Group,NaN,NaN,Paradise Papers - Appleby
755,80037599,Magna Group,NaN,NaN,Paradise Papers - Appleby
1651,80097211,Magna Group,NaN,NaN,Paradise Papers - Appleby
606,80026345,Orion Group,NaN,NaN,Paradise Papers - Appleby
1734,80109137,Orion Group,NaN,NaN,Paradise Papers - Appleby
758,80038372,Renaissance Group,NaN,NaN,Paradise Papers - Appleby
1798,80116749,Renaissance Group,NaN,NaN,Paradise Papers - Appleby

In [4]:
def clean_countries_and_codes(df):
    df['country_codes'] = df.loc[df['country_codes'].notnull(), 'country_codes'].str.split(';').apply(lambda x: sorted(x))
    df['country_codes'] = df.loc[df['country_codes'].notnull(), 'country_codes'].apply(', '.join)
    
    df['countries'] = df.loc[df['countries'].notnull(), 'countries'].str.split(';').apply(lambda x: sorted(x))
    df['countries'] = df.loc[df['countries'].notnull(), 'countries'].apply(' ,'.join)

other_raw['name'] = other_raw['name'].str.title()
clean_countries_and_codes(other_raw)
other_raw = other_raw[keep_cols]
other_raw.head()

,node_id,sourceID,name,country_codes,countries
0,85004929,Paradise Papers - Aruba corporate registry,Antam Enterprises N.V.,NaN,NaN
1,85008443,Paradise Papers - Aruba corporate registry,Deviation N.V.,NaN,NaN
2,85008517,Paradise Papers - Aruba corporate registry,Ariazi N.V.,NaN,NaN
3,85008542,Paradise Papers - Aruba corporate registry,Flairuba N.V.,NaN,NaN
4,85008583,Paradise Papers - Aruba corporate registry,S.L. Aruba Fisheries Trading N.V.,NaN,NaN

In [5]:
other_raw.to_csv('../data/intermediate/other.csv', index=False)

In [9]:
other_raw['countries'].str.len().max()

44.0