In [1]:
import numpy as np
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 150

In [2]:
bahamas_edge_raw = pd.read_csv('../data/raw/bahamas_leaks/bahamas_leaks.edges.csv')
offshore_edge_raw = pd.read_csv('../data/raw/offshore_leaks/offshore_leaks.edges.csv')
panama_edge_raw = pd.read_csv('../data/raw/panama_papers/panama_papers.edges.csv')
paradise_edge_raw = pd.read_csv('../data/raw/paradise_papers/paradise_papers.edges.csv')

C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Julie\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Grab info on last update for each investigation

In [3]:
current_through = pd.concat([bahamas_edge_raw[['valid_until', 'sourceID']],
                             offshore_edge_raw[['valid_until', 'sourceID']],
                             panama_edge_raw[['valid_until', 'sourceID']],
                             paradise_edge_raw[['valid_until', 'sourceID']]]).drop_duplicates().sort_values('valid_until').reset_index(drop=True)
current_through

,valid_until,sourceID
0,Appleby data is current through 2014,Paradise Papers - Appleby
1,Aruba corporate registry data is current through 2016,Paradise Papers - Aruba corporate registry
2,Bahamas corporate registry data is current through 2016,Paradise Papers - Bahamas corporate registry
3,Barbados corporate registry data is current through 2016,Paradise Papers - Barbados corporate registry
4,Cook Islands corporate registry data is current through 2016,Paradise Papers - Cook Islands corporate registry
5,Lebanon corporate registry data is current through 2016,Paradise Papers - Lebanon corporate registry
6,Malta corporate registry data is current through 2016,Paradise Papers - Malta corporate registry
7,Samoa corporate registry data is current through 2016,Paradise Papers - Samoa corporate registry
8,The Bahamas Leaks data is current through early 2016.,Bahamas Leaks
9,The Offshore Leaks data is current through 2010,Offshore Leaks
10,The Panama Papers data is current through 2015,Panama Papers
11,The Panama Papers data is current through 2015,Panama Papers
12,NaN,Panama Papers
13,NaN,NaN

In [43]:
current_through['valid_until']

0                             Appleby data is current through 2014
1            Aruba corporate registry data is current through 2016
2          Bahamas corporate registry data is current through 2016
3         Barbados corporate registry data is current through 2016
4     Cook Islands corporate registry data is current through 2016
5          Lebanon corporate registry data is current through 2016
6            Malta corporate registry data is current through 2016
7            Samoa corporate registry data is current through 2016
8            The Bahamas Leaks data is current through early 2016.
9                  The Offshore Leaks data is current through 2010
10                 The Panama Papers  data is current through 2015
11                  The Panama Papers data is current through 2015
12                                                             NaN
13                                                             NaN
Name: valid_until, dtype: object

In [44]:
current_through.drop(labels=[10, 12, 13])

,valid_until,sourceID
0,Appleby data is current through 2014,Paradise Papers - Appleby
1,Aruba corporate registry data is current through 2016,Paradise Papers - Aruba corporate registry
2,Bahamas corporate registry data is current through 2016,Paradise Papers - Bahamas corporate registry
3,Barbados corporate registry data is current through 2016,Paradise Papers - Barbados corporate registry
4,Cook Islands corporate registry data is current through 2016,Paradise Papers - Cook Islands corporate registry
5,Lebanon corporate registry data is current through 2016,Paradise Papers - Lebanon corporate registry
6,Malta corporate registry data is current through 2016,Paradise Papers - Malta corporate registry
7,Samoa corporate registry data is current through 2016,Paradise Papers - Samoa corporate registry
8,The Bahamas Leaks data is current through early 2016.,Bahamas Leaks
9,The Offshore Leaks data is current through 2010,Offshore Leaks
11,The Panama Papers data is current through 2015,Panama Papers

In [4]:
current_through.to_csv('../data/processed/investigation_last_updates.csv')

## Go back to formatting the edges data

### To Do

- Why are rel_type/TYPE and link columns different?
- Parse dates to standard format/datetime[64]

datetime codes can be found here: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

In [3]:
datasets = [bahamas_edge_raw, offshore_edge_raw, panama_edge_raw, paradise_edge_raw]

In [4]:
for ds in datasets:
    print(ds['sourceID'][0])
    print(ds.columns, '\n')

Bahamas Leaks
Index(['node_1', 'rel_type', 'node_2', 'sourceID', 'valid_until', 'start_date',
       'end_date'],
      dtype='object')

Offshore Leaks
Index(['START_ID', 'TYPE', 'END_ID', 'link', 'start_date', 'end_date',
       'sourceID', 'valid_until'],
      dtype='object')

Panama Papers
Index(['START_ID', 'TYPE', 'END_ID', 'link', 'start_date', 'end_date',
       'sourceID', 'valid_until'],
      dtype='object')

Paradise Papers - Aruba corporate registry
Index(['START_ID', 'TYPE', 'END_ID', 'link', 'start_date', 'end_date',
       'sourceID', 'valid_until'],
      dtype='object')

In [7]:
bahamas_edge_raw['link'] = bahamas_edge_raw['rel_type'].str.replace('_', ' ')
bahamas_edge_raw.head()

,node_1,rel_type,node_2,sourceID,valid_until,start_date,end_date,link
0,24000030,same_address_as,14035591,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
1,24000086,same_address_as,14077570,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
2,24000090,same_address_as,14077931,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
3,24000098,same_address_as,14037925,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
4,24000336,same_address_as,14049152,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as

In [8]:
bahamas_edge_raw.columns = ['START_ID', 'TYPE', 'END_ID', 'sourceID', 'valid_until', 'start_date', 'end_date', 'link']
bahamas_edge_raw.head()

,START_ID,TYPE,END_ID,sourceID,valid_until,start_date,end_date,link
0,24000030,same_address_as,14035591,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
1,24000086,same_address_as,14077570,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
2,24000090,same_address_as,14077931,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
3,24000098,same_address_as,14037925,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as
4,24000336,same_address_as,14049152,Bahamas Leaks,The Bahamas Leaks data is current through early 2016.,NaN,NaN,same address as

In [9]:
keep_cols = ['START_ID', 'TYPE', 'END_ID', 'link', 'start_date', 'end_date', 'sourceID']

bahamas_edge_raw = bahamas_edge_raw[keep_cols]
offshore_edge_raw = offshore_edge_raw[keep_cols]
panama_edge_raw = panama_edge_raw[keep_cols]
paradise_edge_raw = paradise_edge_raw[keep_cols]

edges_df = pd.concat([bahamas_edge_raw, offshore_edge_raw, panama_edge_raw, paradise_edge_raw])
edges_df.head()

,START_ID,TYPE,END_ID,link,start_date,end_date,sourceID
0,24000030,same_address_as,14035591,same address as,NaN,NaN,Bahamas Leaks
1,24000086,same_address_as,14077570,same address as,NaN,NaN,Bahamas Leaks
2,24000090,same_address_as,14077931,same address as,NaN,NaN,Bahamas Leaks
3,24000098,same_address_as,14037925,same address as,NaN,NaN,Bahamas Leaks
4,24000336,same_address_as,14049152,same address as,NaN,NaN,Bahamas Leaks

In [53]:
print(edges_df.loc[edges_df['TYPE'] != edges_df['link'].str.replace(' ', '_'), ['TYPE', 'link']].drop_duplicates().sort_values('TYPE').shape, '\n')
edges_df.loc[edges_df['TYPE'] != edges_df['link'].str.replace(' ', '_'), ['TYPE', 'link']].drop_duplicates().sort_values('TYPE').head()

(551, 2)

                   TYPE                                   link
41338   intermediary_of        registrar and transfer agent of
45245   intermediary_of     registered office service provider
45289   intermediary_of                    registered agent of
46137   intermediary_of  intermediary / eligible introducer of
115349       officer_of           director class i director of

## Date Formats

There are multiple date formats in the start_date and end_date columns. These differences include:

- the month represented as a number and as an abbreviated string (14-MAR-2015 and 03/14/2015)
- the year as two digits and as four (15 and 2015)
- the month and day represented as two digits and one (03 and 3)
- no way to tell whether the day or month comes first (03/09/2015 could be March 9th or September 3rd, there are no digits in the non-year sections that are above 12)

### Why would anyone record dates in multiple formats??

Couple of reasons come to mind, this is real world data after all

- Dates probably come from underlying source data. As this comes from different sources, they may have been recorded in different formats and just collated without any cleaning
- Someone could have opened it in Excel, which tends to change things. It may have updated the date for the ones it knew and left ones that it didn't (where day is > 12)

### Plan of attack

Regardless of the reason, this needs to be addressed.

The format including abbreviated month names is easy, they're all in the same format: d%-%b-%Y and can be separated out using df['date'].str.contains('-', na=False)

The fully numeric format isn't as easy, there are 3 different formats and no indication on whether the month or day comes first. Only consistent piece is that the year comes last.

As we aren't making any real-world applicable decisions, we could just arbitrarily pick whether to parse the date as the day first. However, we can get a little more accurate.

Using the Wikipedia page https://en.wikipedia.org/wiki/Date_format_by_country we can use where the data came from to make an educated guess as to the probable date format.

- Bahamas Leaks data came from the official corporate registry of the Bahamas. So we can guess they use the MDY format.
- Offshore Leaks data came from offshore entities incorporated through Portcullis Trustnet (based in the Cook Islands) and Commonwealth Limited (based in the British Virgin Islands). The islands both companies are based in typically use the DMY date format.
- Panama Papers data came from a Panama law firm. Panama uses the MDY format.
- Paradise Papers data comes from the most varied data sources. According to the IJIC website, this data comes from the corporate registeries from seven countries: Aruba, Bahamas, Barbados, Nevis, Cook Islands, Malta, and Samoa. However, looking at the unique sourceIDs, we can see Lebanon also included. Fortunately, all of those countries use the same date format except Samoa. Majority: DMY, Samoa: MDY

### Date Format Decision

- Bahamas Leaks: MDY
- Offshore Leaks: DMY
- Panama Papers: MDY
- Paradise Papers: separate by df['sourceID'].str.contains('Samoa', na=False)
  + contains Samoa: MDY
  + doesn't contain Samoa: DMY

### Numeric difference plan of attack

- Two vs Four digit year: split on '\' and look at length of 3rd segment
- Four digit year
    + If length of the string is < 10 month/day are not zero padded
    + If length of string = 10 (dd/mm/yyyy) month/day are zero padded
- Two digit year
    + If length of string is < 8 month/day are not zero padded
    + If length of string = 8 (dd/mm/yy)

In [ ]:
edges_df.to_csv('../data/intermediate/edges.csv')